<div ng-app="app">
  <div ng-controller="shopping-ctrl">
  <h1>Products</h1>
    <div ng-repeat="product in products">
      <h3>{{product.name}}</h3>
      <h4>${{product.price}}</h4>
      <h5 ng-click="addToCart(product)">Add to Cart</h5>
      <p>{{product.description}}</p>
    </div>

  <h1>Shopping Cart</h1>
    <div>
    <table>
    <tr ng-repeat="product in cartedProducts" ng-click="removeProduct(product)">
      <td>{{product.name}}</td>
      <td>${{product.price}}</td>
    </tr>
    </table>
    </div>
  <h4> Subtotal: {{subtotal}}</h4>  
  <h4> Tax: {{tax}}</h4>
  <h4> Total: {{total}}</h4>
  </div>
</div>